/* scrollable */
.custom-scrollbar-container {
  /* background-color: white; */
  /* border: 1px solid #333;
   border-radius: 12px; */
  display: grid;
  height: 100%;
  grid-template: auto / 1fr 20px;
  overflow: hidden;
  position: relative;
}

.custom-scrollbar-content {
  height: 100%;
  -ms-overflow-style: none;
  overflow: auto;
  /* padding: 0 1rem; */
  scrollbar-width: none;
}

.custom-scrollbar-content::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar-scrollbar {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template: auto 1fr auto / 1fr;
  padding: 1rem;
  place-items: center;
}

.custom-scrollbar-track-and-thumb {
  display: block;
  height: 100%;
  position: relative;
  width: 16px;
}

.custom-scrollbar-track {
  /* background-color: #ccc; */
  background-color: #00000010;
  border-radius: 12px;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  width: 8px;
  transition: opacity 0.3s ease-in-out;
}

.custom-scrollbar-thumb {
  border-radius: 12px;
  /* background-color: #333; */
  background-color: #00000060;
  position: absolute;
  opacity: 0;
  width: 8px;
  transition: opacity 0.3s ease-in-out;
}

.custom-scrollbar-container:hover
  :is(.custom-scrollbar-thumb, .custom-scrollbar-track) {
  opacity: 1;
}

/* scrollable */
