:root {
  --primary-color: #a06df2;
  --primary-color-darker: #7b4dc4;
  --primary-color-lighter: #a06df220;
  --secondary-color: #acacac;
  --primary-light-color-bg: #f8f7fc;
  --hover-light-bg-color: #ccc;
  --box-shadow-light: 0 1px 15px #00000005, 0 1px 6px #00000020;

  /* Dark-Mode */
  --primary-dark-bg-color: #1a1a1a;
  --secondary-dark-bg-color: #333333;
  --text-dark-color: #fff;
  --box-shadow-dark: 0 1px 15px #a06df220, 0 1px 6px #a06df240;
}

.user-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: center;
}

.user-container .container-inner {
  width: 75%;
  position: absolute;
  background-color: #000000aa;
  padding: 3rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-container .container-inner .texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container h3 {
  font-weight: lighter;
}

.user-container .logos img {
  height: 40px;
}

.user-container .logos {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-container .container-inner :is(h1, h2, h3, h4) {
  color: #fff;
}

.user-container .titles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-container > div {
  flex: 1;
}

.user-container .info {
  background-color: #a06df2;
  border-radius: 0 3rem 3rem 0;
  height: 100vh;
  position: relative;
}

.user-container .info > img {
  max-height: 100%;
}

.user-container .btn-google {
  background-color: #cc3333;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.user-container .btn-google:hover {
  background-color: #aa2222;
}

@media (max-width: 1150px) {
  .user-container .logos img {
    height: 30px;
  }
}

@media (max-width: 950px) {
  div.user-container {
    display: block;
    margin: 0;
  }
  .user-container .info {
    height: 80%;
    border-radius: 0 0 3rem 3rem;
  }

  .user-container .container-inner {
    gap: 0px;
    height: 80%;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .user-container .login {
    padding: 1.5rem;
  }
}

@media (max-width: 600px) {
  .user-container .logos img {
    height: 20px;
  }

  .user-container :is(h1, h2, h3, h4) {
    font-size: 1rem;
  }
}

/* Dark Switch */
.dark-mode-switch label {
  width: 80px;
  height: 32px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  cursor: pointer;
}

.dark-mode-switch label:after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--primary-color);
  border-radius: 50%;
}
.dark-mode-switch input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark-mode-switch input:checked ~ label {
  background: #444746;
}
.dark-mode-switch input:checked ~ label:after {
  left: 60%;
}
.dark-mode-switch label,
.dark-mode-switch label:after {
  transition: all 0.4s ease-in-out;
}

.dark-mode-switch label svg {
  position: absolute;
  width: 120px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.dark-mode-switch label svg.sun {
  right: 2px;
  transition: all 0.4s ease-in-out;
}
.dark-mode-switch label svg.moon {
  left: 2px;
  transition: all 0.4s ease-in-out;
}
.dark-mode-switch input:checked + label svg.sun {
  width: 0;
  height: 0;
}
.dark-mode-switch input:not(:checked) + label svg.moon {
  width: 0;
  height: 0;
}

/* Dark Switch */

/* LogOut */
.logout {
  font-size: 1.5rem;
  padding: 0.8rem;
  border-radius: 25%;
  transition: all 0.3s ease-in-out;
}

.logout:hover {
  /* background-color: var(--hover-light-bg-color); */
  box-shadow: var(--box-shadow-light);
  color: var(--primary-color);
}

/* LogOut */

/* Tema Dark */
body.dark-theme .logout:hover {
  background-color: var(--secondary-dark-bg-color);
}

body.dark-theme .messages li.read {
  background: var(--primary-dark-bg-color);
}

body.dark-theme .messages :has(input[type="checkbox"]:checked) {
  background-color: var(--primary-color-lighter);
}

body.dark-theme .home-header span:hover {
  box-shadow: var(--box-shadow-dark);
}

body.dark-theme .messages li:hover {
  box-shadow: var(--box-shadow-dark);
}
/* Tema Dark */

.home-messages {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* Messages */

.messages li {
  display: grid;
  padding: 0.8rem 1rem;
  white-space: nowrap;
  grid-template-columns: auto auto 200px auto 1fr auto;
  gap: 0.8rem;
  align-items: center;
  justify-items: start;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative; /* Adicione essa linha para habilitar o z-index */
}

.messages li.read {
  background-color: var(--primary-light-color-bg);
}

.messages input[type="checkbox"] {
  border: #5f6368 solid 0.15em;
}

.messages :has(input[type="checkbox"]:checked) {
  background-color: var(--primary-color-lighter);
}

.messages input[type="checkbox"]:hover {
  border: var(--primary-color) solid 0.15em;
}

.messages .flag {
  color: #5f6368;
}

.messages .flagged {
  color: var(--primary-color);
}

.messages .flag:hover {
  color: var(--primary-color);
}

.messages .flagged:hover {
  color: #5f6368;
}
.messages li:hover {
  box-shadow: var(--box-shadow-light);
  z-index: 1;
}

.messages li:not(.read) {
  font-weight: bold;
}

.messages li :is(.content, .time) {
  color: #5f6368;
  font-size: 0.9rem;
}

.messages li .content {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--secondary-color);
  font-weight: normal;
}

.messages li .addresses {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Messages */

/* Home Header */
.home-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}

.home-header .options {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
}

.home-header .pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.home-header .select {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.home-header .select svg path {
  transform: translateY(-25%);
}

.home-header span {
  color: #5f6368;
  border-radius: 25%;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.home-header span:hover {
  box-shadow: var(--box-shadow-light);
}

.home-header .pagination .disabled:hover {
  box-shadow: none;
}

.home-header .pagination .disabled {
  color: #999;
}

.home-header .pagination .disabled:hover svg {
  color: inherit;
}

.home-header span svg {
  transition: all 0.2s ease-in-out;
}

.home-header span:hover svg {
  color: var(--primary-color);
}

.home-header .select input {
  border: 0.15em solid #5f6368;
}

.home-header .select input:hover {
  border: 0.15em solid var(--primary-color);
}
/* Home Header */
