.user-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: center;
}

.user-container .container-inner {
  width: 75%;
  position: absolute;
  background-color: #000000aa;
  padding: 3rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-container .container-inner .texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container h3 {
  font-weight: lighter;
}

.user-container .logos img {
  height: 40px;
}

.user-container .logos {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-container .container-inner :is(h1, h2, h3, h4) {
  color: #fff;
}

.user-container .titles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-container > div {
  flex: 1;
}

.user-container .info {
  background-color: #a06df2;
  border-radius: 0 3rem 3rem 0;
  height: 100vh;
  position: relative;
}

.user-container .info > img {
  max-height: 100%;
}

.user-container .btn-google {
  background-color: #cc3333;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.user-container .btn-google:hover {
  background-color: #aa2222;
}

@media (max-width: 1150px) {
  .user-container .logos img {
    height: 30px;
  }
}

@media (max-width: 950px) {
  div.user-container {
    display: block;
    margin: 0;
  }
  .user-container .info {
    height: 80%;
    border-radius: 0 0 3rem 3rem;
  }

  .user-container .container-inner {
    gap: 0px;
    height: 80%;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .user-container .login {
    padding: 1.5rem;
  }
}

@media (max-width: 600px) {
  .user-container .logos img {
    height: 20px;
  }

  .user-container :is(h1, h2, h3, h4) {
    font-size: 1rem;
  }
}
